<h1 class = "cent text_color font_size"> PLease Enter Your Address</h1>

<form method = "post" action = "result_w_add"><center>
 <input type = "text" name = "add">
 <input type = "submit"></center>
 </form>  
