<h2 class = "cent text_color font_size"> Your Order Is <%all_pizza.each do |y|%></h2>
 <h2 class = "cent text_color font_size"><%y.each do |x|%> </h2>
     <h2 class = "cent text_color font_size"><%=x%></h2>
     <%end%><br> 
<%end%>
<body class = "back_gr2">
</body>