<h1 class = "cent text_color font_size">Please Place Your Order </h1>


<form method = "post" action = "topps"><center> 
<h2 class = "text_color font border_1"> Please select your Crust:</h2>
  <p class = "text_color f_size"><input  type="radio" name="crust[]" value="Stuffed">Stuffed</p>
  <p class = "text_color f_size"><input  type="radio" name="crust[]" value="Thin">Thin</p>
  <p class = "text_color f_size"><input  type="radio" name="crust[]" value="Hand Tossed">Hand Tossed</p>
  <p class = "text_color f_size"><input  type="radio" name="crust[]" value="Pan">Pan</p>
<h2 class = "text_color font border_1"> Please select your Meat:</h2>
  <p class = "text_color f_size"><input type= "checkbox" name= "meat[]" value="Pepperonni">Pepperonni</p>
  <p class = "text_color f_size"><input type= "checkbox" name= "meat[]" value="Ham">Ham</p>
  <p class = "text_color f_size"><input type= "checkbox" name= "meat[]" value="Sausage">Sausage</p>
  <p class = "text_color f_size"><input type= "checkbox" name= "meat[]" value="Chicken">Chicken</p>
<h2 class = "text_color font border_1"> Please select your Sause:</h2>
  <p class = "text_color f_size"><input type= "checkbox" name= "sause[]" value="Meaty">Meaty</p>
  <p class = "text_color f_size"><input type= "checkbox" name= "sause[]" value="Lite">Lite</p>
  <p class = "text_color f_size"><input type= "checkbox" name= "sause[]" value="Thick">Thick</p>
  <p class = "text_color f_size"><input type= "checkbox" name= "sause[]" value="None">None</p>
<h2 class = "text_color font border_1"> Please select your Veggies:</h2>
  <p class = "text_color f_size"><input type= "checkbox" name= "veggies[]" value="Onions">Onions</p>
  <p class = "text_color f_size"><input type= "checkbox" name= "veggies[]" value="Peppers">Peppers</p>
  <p class = "text_color f_size"><input type= "checkbox" name= "veggies[]" value="Olives">Olives</p>
  <p class = "text_color f_size"><input type= "checkbox" name= "veggies[]" value="Banana Peppers">Banana Peppers</p>
<h2 class = "text_color font border_1"> Please select your Size:</h2>
  <p class = "text_color f_size" ><input type= "radio" name= "size[]" value="Xl">XL</p>
  <p class = "text_color f_size"><input type= "radio" name= "size[]" value="Large">Large</p>
  <p class = "text_color f_size"><input type= "radio" name= "size[]" value="Medium">Medium</p>
  <p class = "text_color f_size"><input type= "radio" name= "size[]" value="Small">Small</p>
        <input type='submit'></center>
</form>
<body class = "back_gr">
</body>


