<h1 class = "cent text_color font_size"> Your Address Is <%=add%> </h1>
<h2 class = "cent text_color font_size"> Your Order Is <%final_top.each do |y|%></h2>
 <h2 class = "cent text_color font_size"><%=y%> </h2>
<%end%>
<body class = "back_gr2">
</body>
<form method = "post" action = "amount_of_pizza"> 
<script src = "/js/fun_js.js">
</script>
<h2 class = "cent text_color font border_1">How many of this pizza would you like?<br><input type ="number" name = "pizzas" min = 1 oninput = "myFunction()"></h2>
<p class = "cent text_color font border_1"><input type = "radio" name = "yes_no" value = "yes">Click For Another Pizza</p>
<p class = "cent text_color font border_1"><input type = "radio" name = "yes_no" value = "no">Checkout</p>
<center><input type = "submit"></center>
</form> 


