<h1 class = "cent text_color font_size"> Your Oreder is <%final_top.each do |y|%></h1> 
<h2 class = "cent text_color font"> <%=y%> </h2><%end%>

<form class = "text_color font border_1" method = "post" action = "result"><center>
    <h2> Would you like delivery</h2>
        <p><input type= "radio" name= "delivery" value="yes"> YES </p>
        <p><input type= "radio" name= "delivery" value="no"> No </p>
            <input type='submit'></center>
</form>
</form>

<body class = "back_gr">
</body>