<h1 class = "cent text_color font_size"> Your Address Is <%=add%></h1>
<h2 class = "cent text_color font_size"> Your Order Is <%final_top.each_pair do |x, y|%> </h2>
 <h2 class = "cent text_color font_size"><%=y%> </h2>
<%end%>