<h1 class = "cent"> Your Oreder is <%final_top.each do |x|%></h1> 
<h2 class = "cent"> <%=x%> </h2>
 <%end%>

<form method = "post" action = "result"><center>
    <h2> Would you like delivery</h2>
        <p><input type= "radio" name= "delivery" value="yes"> YES </p>
        <p><input type= "radio" name= "delivery" value="no"> No </p>
            <input type='submit'></center>
</form>
